
h1, h2, h3, {
  font-family: 'Barrio', sans-serif;
  font-weight: 600;
}
p {
  font-family: 'Barrio', sans-serif;
  font-weight: 200;
}
a {
  font-family: 'Barrio', sans-serif;
  font-weight: 600;
  letter-spacing: 4px;
}
body {
  padding-left: 20px;
}
<style>
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
body {
  padding-left: 60px;
  background: linear-gradient(white, blue, red)
}